@model SIGEM_BIDSS.Models.tbSolicitud
@using SIGEM_BIDSS.Models

@Html.HiddenFor(model => model.tmo_id, new { Value = "1" })
@Html.HiddenFor(model => model.sol_AnsolMonto, new { Value = "1" })
@Html.HiddenFor(model => model.pto_Id, new { Value = "1" })
@Html.HiddenFor(model => model.tpsal_id, new { Value = "1" })
@Html.HiddenFor(model => model.tpv_Id, new { Value = "1" })
@Html.HiddenFor(model => model.sol_AnviHospedaje, new { Value = "---" })
@Html.HiddenFor(model => model.sol_AnviTrasladoHacia, new { Value = "---" })
@Html.HiddenFor(model => model.sol_Anvi_Cliente, new { Value = "---" })
@Html.HiddenFor(model => model.sol_Anvi_LugarDestino, new { Value = "---" })
@Html.HiddenFor(model => model.sol_Anvi_PropositoVisita, new { Value = "---" })
@Html.HiddenFor(model => model.sol_AprCiudad, new { Value = "---" })

@Html.HiddenFor(model => model.sol_AprNombreEmpresa, new { Value = "---" })
@Html.HiddenFor(model => model.sol_AprRtn, new { Value = "---" })
@Html.HiddenFor(model => model.sol_ApreCargoTecn, new { Value = "---" })
@Html.HiddenFor(model => model.sol_ApreLink, new { Value = "---" })
@Html.HiddenFor(model => model.sol_ApreCorreoAdm, new { Value = "----" })
@Html.HiddenFor(model => model.sol_ApreContactoAdm, new { Value = "----" })
@Html.HiddenFor(model => model.sol_ApreCorreoTecn, new { Value = "----" })
@Html.HiddenFor(model => model.sol_ApreNombreTecn, new { Value = "----" })
@Html.HiddenFor(model => model.sol_ApreTelefono, new { Value = "----" })
@Html.HiddenFor(model => model.sol_ApreTelefonoTecn, new { Value = "----" })
@Html.HiddenFor(model => model.sol_GralComentario, new { Value = "----" })
@Html.HiddenFor(model => model.sol_GralJustificacion, new { Value = "----" })
@Html.HiddenFor(model => model.sol_ReemNoFactura, new { Value = "----" })
@Html.HiddenFor(model => model.sol_ReemProveedor, new { Value = "----" })
@Html.HiddenFor(model => model.sol_ReemCargoA, new { Value = "----" })
@Html.HiddenFor(model => model.sol_AprDireccion, new { Value = "----" })



<div id="inline_content">

    <input type="radio" name="typeAcPer" value="1"> Aumento de Sueldo
    <br>
    <input type="radio" name="typeAcPer" value="2"> Cambio de Puesto
    <br>
    <input type="radio" name="typeAcPer" value="3"> Renuncia
    <br>
    <input type="radio" name="typeAcPer" value="4"> Despido
</div>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Create" class="btn btn-default" />
    </div>
</div>

<div id="container" class="form-group">
    <div class="form-group">
        @Html.LabelFor(model => model.sol_Acper_Nuevo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.sol_Acper_Nuevo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.sol_Acper_Nuevo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.sol_Acper_Anterior, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">



            @Html.EditorFor(model => model.sol_Acper_Anterior, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.sol_Acper_Anterior, "", new { @class = "text-danger" })
        </div>
    </div>
</div>

