@model SIGEM_BIDSS.Models.tbSolicitud
@using SIGEM_BIDSS.Models


@Html.HiddenFor(model => model.tperm_Id, new { Value = GeneralFunctions.intDefault })
@Html.HiddenFor(model => model.tmo_Id, new { Value = GeneralFunctions.intDefault })
@Html.HiddenFor(model => model.pto_Id, new { Value = GeneralFunctions.intDefault })
@Html.HiddenFor(model => model.tpv_Id, new { Value = GeneralFunctions.intDefault })
@Html.HiddenFor(model => model.tipsol_Id, new { Value = GeneralFunctions.tiposoli })
@Html.HiddenFor(model => model.tipmo_id, new { Value = GeneralFunctions.intDefault })
@Html.HiddenFor(model => model.are_Id, new { Value = GeneralFunctions.intDefault })
@Html.HiddenFor(model => model.sol_GralDescripcion, new { Value = GeneralFunctions.stringDefault })
@Html.HiddenFor(model => model.sol_PerCantidadDias, new { Value = GeneralFunctions.intDefault })
@Html.HiddenFor(model => model.sol_PerMedioDia, new { Value = GeneralFunctions.boolDefault })
@Html.HiddenFor(model => model.sol_AnviHospedaje, new { Value = GeneralFunctions.stringDefault })
@Html.HiddenFor(model => model.sol_AnviTrasladoHacia, new { Value = GeneralFunctions.stringDefault })
@Html.HiddenFor(model => model.sol_Anvi_Cliente, new { Value = GeneralFunctions.stringDefault })
@Html.HiddenFor(model => model.sol_Anvi_LugarDestino, new { Value = GeneralFunctions.stringDefault })
@Html.HiddenFor(model => model.sol_Anvi_PropositoVisita, new { Value = GeneralFunctions.stringDefault })
@Html.HiddenFor(model => model.sol_AprCiudad, new { Value = GeneralFunctions.stringDefault })
@Html.HiddenFor(model => model.sol_AprNombreEmpresa, new { Value = GeneralFunctions.stringDefault })
@Html.HiddenFor(model => model.sol_AprRtn, new { Value = GeneralFunctions.stringDefault })
@Html.HiddenFor(model => model.sol_ApreCargoTecn, new { Value = GeneralFunctions.stringDefault })
@Html.HiddenFor(model => model.sol_ApreLink, new { Value = GeneralFunctions.stringDefault })
@Html.HiddenFor(model => model.sol_ApreCorreoAdm, new { Value = GeneralFunctions.stringDefault })
@Html.HiddenFor(model => model.sol_ApreContactoAdm, new { Value = GeneralFunctions.stringDefault })
@Html.HiddenFor(model => model.sol_ApreCorreoTecn, new { Value = GeneralFunctions.stringDefault })
@Html.HiddenFor(model => model.sol_ApreNombreTecn, new { Value = GeneralFunctions.stringDefault })
@Html.HiddenFor(model => model.sol_ApreTelefono, new { Value = GeneralFunctions.stringDefault })
@Html.HiddenFor(model => model.sol_ApreTelefonoTecn, new { Value = GeneralFunctions.stringDefault })
@Html.HiddenFor(model => model.sol_ReemNoFactura, new { Value = GeneralFunctions.stringDefault })
@Html.HiddenFor(model => model.sol_ReemProveedor, new { Value = GeneralFunctions.stringDefault })
@Html.HiddenFor(model => model.sol_ReemCargoA, new { Value = GeneralFunctions.stringDefault })
@Html.HiddenFor(model => model.sol_AprDireccion, new { Value = GeneralFunctions.stringDefault })
@Html.HiddenFor(model => model.sol_AnviFechaViaje, new { Value = GeneralFunctions.dateDefault })
@Html.HiddenFor(model => model.sol_PerFechaInicio, new { Value = GeneralFunctions.dateDefault })
@Html.HiddenFor(model => model.sol_ReemFechaGastos, new { Value = GeneralFunctions.dateDefault })
@Html.HiddenFor(model => model.sol_ReemFechaMonto, new { Value = GeneralFunctions.dateDefault })
@Html.HiddenFor(model => model.sol_Anvi_DiasVisita, new { Value = GeneralFunctions.intDefault })
@Html.HiddenFor(model => model.sol_PerFechaRegreso, new { Value = GeneralFunctions.dateDefault })
@Html.HiddenFor(model => model.sol_FechaCrea, new { Value = GeneralFunctions.dateDefault })
@Html.HiddenFor(model => model.sol_PerFechaMedioDia, new { Value = GeneralFunctions.dateDefault })
@Html.HiddenFor(model => model.sol_ReemMonto, new { Value = GeneralFunctions.intDefault })
@Html.HiddenFor(model => model.sol_ReemMontoTotal, new { Value = GeneralFunctions.intDefault })
@Html.HiddenFor(model => model.sol_RequeCantidad, new { Value = GeneralFunctions.intDefault })
@Html.HiddenFor(model => model.sol_UsuarioCrea, new { Value = GeneralFunctions.intDefault })
@Html.HiddenFor(model => model.sol_UsuarioModifica, new { Value = GeneralFunctions.intDefault })
@Html.HiddenFor(model => model.sol_Acper_Anterior, new { Value = GeneralFunctions.stringDefault })
@Html.HiddenFor(model => model.sol_Acper_Nuevo, new { Value = GeneralFunctions.stringDefault })
@Html.HiddenFor(model => model.sol_FechaModifica, new { Value = GeneralFunctions.dateDefault })

<style>


</style>



<div class="form-horizontal">
    <div class="card-body">
        <div class="form-group">
            <span class="aviso">6-</span>  @Html.LabelFor(model => model.sol_AnsolMonto, "Monto Solicitado", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.sol_AnsolMonto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.sol_AnsolMonto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <span class="aviso">7-</span> @Html.LabelFor(model => model.tpsal_id, "Correspondiente a un adelanto sobre:", htmlAttributes: new { @class = "control-label col-md-5" })
            <div class="col-md-6">
                @Html.DropDownList("tpsal_id", null, htmlAttributes: new { @class = "form-control" })


                @Html.ValidationMessageFor(model => model.tpsal_id, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <span class="aviso">8-</span>   @Html.LabelFor(model => model.sol_GralJustificacion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.sol_GralJustificacion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.sol_GralJustificacion, "", new { @class = "text-danger" })
            </div>
        </div>




        <div class="form-group">
            <span class="aviso">9-</span>  @Html.LabelFor(model => model.sol_GralDescripcion, "Recibí de BIDSS Technoology la cantidad de LPS:", htmlAttributes: new { @class = "control-label col-md-5" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.sol_GralDescripcion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.sol_GralDescripcion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <span class="aviso">10-</span>@Html.LabelFor(model => model.sol_GralComentario, "Por concepto de adelanto de: ", htmlAttributes: new { @class = "control-label col-md-5" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.sol_GralComentario, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.sol_GralComentario, "", new { @class = "text-danger" })
            </div>
        </div>




    </div>

</div>