@model SIGEM_BIDSS.Models.tbSolicitud
@using SIGEM_BIDSS.Models





@Html.HiddenFor(model => model.tperm_Id, new { Value = GeneralFunctions.intDefault })
@Html.HiddenFor(model => model.tmo_Id, new { Value = GeneralFunctions.intDefault })
@Html.HiddenFor(model => model.pto_Id, new { Value = GeneralFunctions.intDefault })
@Html.HiddenFor(model => model.tpsal_id, new { Value = GeneralFunctions.tiposalario })
@Html.HiddenFor(model => model.tpv_Id, new { Value = GeneralFunctions.intDefault })
@Html.HiddenFor(model => model.tipsol_Id, new { Value = GeneralFunctions.tiposoli })
@Html.HiddenFor(model => model.tipmo_id, new { Value = GeneralFunctions.intDefault })}

@*@Html.HiddenFor(model => model.are_Id, new { Value = GeneralFunctions.intDefault })*@
@*@Html.HiddenFor(model => model.sol_AnsolMonto, new { Value = GeneralFunctions.intDefault })*@
@Html.HiddenFor(model => model.sol_PerCantidadDias, new { Value = GeneralFunctions.intDefault })
@Html.HiddenFor(model => model.sol_PerMedioDia, new { Value = GeneralFunctions.boolDefault })
@Html.HiddenFor(model => model.sol_AnviHospedaje, new { Value = GeneralFunctions.stringDefault })
@Html.HiddenFor(model => model.sol_AnviTrasladoHacia, new { Value = GeneralFunctions.stringDefault })



@Html.HiddenFor(model => model.sol_AprCiudad, new { Value = GeneralFunctions.stringDefault })
@Html.HiddenFor(model => model.sol_AprNombreEmpresa, new { Value = GeneralFunctions.stringDefault })
@Html.HiddenFor(model => model.sol_AprRtn, new { Value = GeneralFunctions.stringDefault })
@Html.HiddenFor(model => model.sol_ApreCargoTecn, new { Value = GeneralFunctions.stringDefault })
@Html.HiddenFor(model => model.sol_ApreLink, new { Value = GeneralFunctions.stringDefault })

@Html.HiddenFor(model => model.sol_ApreCorreoAdm, new { Value = GeneralFunctions.stringDefault })
@Html.HiddenFor(model => model.sol_ApreContactoAdm, new { Value = GeneralFunctions.stringDefault })
@Html.HiddenFor(model => model.sol_ApreCorreoTecn, new { Value = GeneralFunctions.stringDefault })
@Html.HiddenFor(model => model.sol_ApreNombreTecn, new { Value = GeneralFunctions.stringDefault })
@Html.HiddenFor(model => model.sol_ApreTelefono, new { Value = GeneralFunctions.stringDefault })
@Html.HiddenFor(model => model.sol_ApreTelefonoTecn, new { Value = GeneralFunctions.stringDefault })

@Html.HiddenFor(model => model.sol_GralJustificacion, new { Value = GeneralFunctions.stringDefault })
@Html.HiddenFor(model => model.sol_ReemNoFactura, new { Value = GeneralFunctions.stringDefault })
@Html.HiddenFor(model => model.sol_ReemProveedor, new { Value = GeneralFunctions.stringDefault })
@Html.HiddenFor(model => model.sol_ReemCargoA, new { Value = GeneralFunctions.stringDefault })
@Html.HiddenFor(model => model.sol_AprDireccion, new { Value = GeneralFunctions.stringDefault })
@Html.HiddenFor(model => model.sol_AnviFechaViaje, new { Value = GeneralFunctions.dateDefault })
@Html.HiddenFor(model => model.sol_PerFechaInicio, new { Value = GeneralFunctions.dateDefault })
@Html.HiddenFor(model => model.sol_ReemFechaGastos, new { Value = GeneralFunctions.dateDefault })
@Html.HiddenFor(model => model.sol_ReemFechaMonto, new { Value = GeneralFunctions.dateDefault })

@Html.HiddenFor(model => model.sol_PerFechaRegreso, new { Value = GeneralFunctions.dateDefault })
@Html.HiddenFor(model => model.sol_FechaCrea, new { Value = GeneralFunctions.dateDefault })
@Html.HiddenFor(model => model.sol_PerFechaMedioDia, new { Value = GeneralFunctions.dateDefault })
@Html.HiddenFor(model => model.sol_ReemMonto, new { Value = GeneralFunctions.intDefault })
@Html.HiddenFor(model => model.sol_ReemMontoTotal, new { Value = GeneralFunctions.intDefault })
@Html.HiddenFor(model => model.sol_RequeCantidad, new { Value = GeneralFunctions.intDefault })
@Html.HiddenFor(model => model.sol_UsuarioCrea, new { Value = GeneralFunctions.intDefault })
@Html.HiddenFor(model => model.sol_UsuarioModifica, new { Value = GeneralFunctions.intDefault })
@Html.HiddenFor(model => model.sol_Acper_Anterior, new { Value = GeneralFunctions.stringDefault })
@Html.HiddenFor(model => model.sol_Acper_Nuevo, new { Value = GeneralFunctions.stringDefault })

@Html.HiddenFor(model => model.sol_FechaModifica, new { Value = GeneralFunctions.dateDefault })





<div class="form-horizontal">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <form>
        <div class="form-group">
            <span class="aviso">6-</span>  @Html.LabelFor(model => model.sol_Anvi_Cliente, "Cliente a Visitar", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-7">
                @Html.EditorFor(model => model.sol_Anvi_Cliente, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.sol_Anvi_Cliente, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <span class="aviso">7-</span>  @Html.LabelFor(model => model.sol_Anvi_LugarDestino, "Lugar Destino", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-7">
                @Html.EditorFor(model => model.sol_Anvi_LugarDestino, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.sol_Anvi_LugarDestino, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <span class="aviso">8-</span>   @Html.LabelFor(model => model.sol_Anvi_PropositoVisita, "Proposito de la Visita", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-7">
                @Html.EditorFor(model => model.sol_Anvi_PropositoVisita, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.sol_Anvi_PropositoVisita, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <span class="aviso">9-</span>  @Html.LabelFor(model => model.sol_Anvi_DiasVisita, "Dias De Visitas", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-7">
                @Html.EditorFor(model => model.sol_Anvi_DiasVisita, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.sol_Anvi_DiasVisita, "", new { @class = "text-danger" })
            </div>
        </div>

        <div id="inline_content">
            <label>Opciones</label>
            <br />
            <input type="radio" name="typeAcPer" value="1">Transporte
            <br>
            <input type="radio" name="typeAcPer" value="2">Carro Propio
            <br>
            <input type="radio" name="typeAcPer" value="3">Carro Alquilado
            <br>

        </div>
        <br>
        <div class="form-group">
            <span class="aviso">10-</span>  @Html.LabelFor(model => model.sol_GralComentario, "Comentario", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-7">
                @Html.EditorFor(model => model.sol_GralComentario, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.sol_GralComentario, "", new { @class = "text-danger" })
            </div>
        </div>
    </form>

</div>