@model IEnumerable<SIGEM_BIDSS.Models.tbEmpleado>

<p>
    @Html.ActionLink("Create New", "Create")
</p>



<table class="table table-bordered table-hover table-responsive-md" id="tbEmp">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.emp_Nombres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.emp_Apellidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.emp_CorreoElectronico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tbPuesto.pto_Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.emp_PathImage)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.emp_Nombres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.emp_Apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.emp_CorreoElectronico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tbPuesto.pto_Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.emp_PathImage)
            </td>
            <td>
                <button class="btn btn-primary btn-xs" value="@item.emp_Id" id="SeleccionarEmp" data-dismiss="modal">Seleccionar</button>
            </td>
        </tr>
        }
    </tbody>
</table>

