@model SIGEM_BIDSS.Models.tbSolicitud

@using (Html.BeginForm())



@Html.HiddenFor(model => model.tmo_Id, new { Value = "1" })
@Html.HiddenFor(model => model.sol_AnsolMonto, new { Value = "1" })
@Html.HiddenFor(model => model.pto_Id, new { Value = "1" })
@Html.HiddenFor(model => model.tpsal_id, new { Value = "1" })
@Html.HiddenFor(model => model.tpv_Id, new { Value = "1" })
@Html.HiddenFor(model => model.sol_AnviHospedaje, new { Value = "---" })
@Html.HiddenFor(model => model.sol_AnviTrasladoHacia, new { Value = "---" })
@Html.HiddenFor(model => model.sol_Anvi_Cliente, new { Value = "---" })
@Html.HiddenFor(model => model.sol_Anvi_LugarDestino, new { Value = "---" })
@Html.HiddenFor(model => model.sol_Anvi_PropositoVisita, new { Value = "---" })
@Html.HiddenFor(model => model.sol_AprCiudad, new { Value = "---" })
@Html.HiddenFor(model => model.sol_AprNombreEmpresa, new { Value = "---" })
@Html.HiddenFor(model => model.sol_AprRtn, new { Value = "---" })
@Html.HiddenFor(model => model.sol_ApreCargoTecn, new { Value = "---" })
@Html.HiddenFor(model => model.sol_ApreLink, new { Value = "---" })
@Html.HiddenFor(model => model.sol_ApreCorreoAdm, new { Value = "----" })
@Html.HiddenFor(model => model.sol_ApreContactoAdm, new { Value = "----" })
@Html.HiddenFor(model => model.sol_ApreCorreoTecn, new { Value = "----" })
@Html.HiddenFor(model => model.sol_ApreNombreTecn, new { Value = "----" })
@Html.HiddenFor(model => model.sol_ApreTelefono, new { Value = "----" })
@Html.HiddenFor(model => model.sol_ApreTelefonoTecn, new { Value = "----" })
@Html.HiddenFor(model => model.sol_GralComentario, new { Value = "----" })
@Html.HiddenFor(model => model.sol_GralJustificacion, new { Value = "----" })
@Html.HiddenFor(model => model.sol_ReemNoFactura, new { Value = "----" })
@Html.HiddenFor(model => model.sol_ReemProveedor, new { Value = "----" })
@Html.HiddenFor(model => model.sol_ReemCargoA, new { Value = "----" })
@Html.HiddenFor(model => model.sol_AprDireccion, new { Value = "----" })
@Html.HiddenFor(model => model.sol_AnviFechaViaje, new { Value = "1900/01/01" })
@Html.HiddenFor(model => model.sol_perFechaRegreso, new { Value = "1900/01/01" })
@Html.HiddenFor(model => model.sol_ReemFechaGastos, new { Value = "1900/01/01" })
@Html.HiddenFor(model => model.sol_ReemFechaMonto, new { Value = "1900/01/01" })

{
@Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>tbSolicitud</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.emp_Id, "emp_Id", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("emp_Id", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.emp_Id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.tipsol_Id, "tipsol_Id", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("tipsol_Id", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.tipsol_Id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.pto_Id, "pto_Id", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("pto_Id", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.pto_Id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.tpsal_id, "tpsal_id", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("tpsal_id", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.tpsal_id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.tmo_Id, "tmo_Id", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("tmo_Id", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.tmo_Id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.are_Id, "are_Id", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("are_Id", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.are_Id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.tipmo_id, "tipmo_id", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("tipmo_id", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.tipmo_id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.tpv_Id, "tpv_Id", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("tpv_Id", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.tpv_Id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.sol_GralDescripcion, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.sol_GralDescripcion, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.sol_GralDescripcion, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.sol_GralJefeInmediato, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.sol_GralJefeInmediato, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.sol_GralJefeInmediato, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.sol_GralCorreoJefeInmediato, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.sol_GralCorreoJefeInmediato, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.sol_GralCorreoJefeInmediato, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.sol_GralComentario, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.sol_GralComentario, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.sol_GralComentario, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.sol_GralJustificacion, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.sol_GralJustificacion, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.sol_GralJustificacion, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.sol_GralFechaSolicitud, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.sol_GralFechaSolicitud, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.sol_GralFechaSolicitud, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.sol_AnviFechaViaje, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.sol_AnviFechaViaje, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.sol_AnviFechaViaje, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.sol_Anvi_Cliente, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.sol_Anvi_Cliente, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.sol_Anvi_Cliente, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.sol_Anvi_LugarDestino, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.sol_Anvi_LugarDestino, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.sol_Anvi_LugarDestino, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.sol_Acper_Anterior, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.sol_Acper_Anterior, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.sol_Acper_Anterior, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.sol_Anvi_PropositoVisita, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.sol_Anvi_PropositoVisita, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.sol_Anvi_PropositoVisita, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.sol_Anvi_DiasVisita, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.sol_Anvi_DiasVisita, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.sol_Anvi_DiasVisita, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.sol_AnviHospedaje, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.sol_AnviHospedaje, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.sol_AnviHospedaje, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.sol_AnviTrasladoHacia, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.sol_AnviTrasladoHacia, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.sol_AnviTrasladoHacia, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.sol_AnsolMonto, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.sol_AnsolMonto, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.sol_AnsolMonto, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.sol_perFechaRegreso, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.sol_perFechaRegreso, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.sol_perFechaRegreso, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.sol_perMedioDia, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.sol_perMedioDia)
                @Html.ValidationMessageFor(model => model.sol_perMedioDia, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.sol_perCantidadDias, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.sol_perCantidadDias, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.sol_perCantidadDias, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.sol_ReemMonto, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.sol_ReemMonto, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.sol_ReemMonto, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.sol_ReemFechaMonto, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.sol_ReemFechaMonto, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.sol_ReemFechaMonto, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.sol_ReemProveedor, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.sol_ReemProveedor, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.sol_ReemProveedor, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.sol_ReemCargoA, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.sol_ReemCargoA, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.sol_ReemCargoA, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.sol_ReemFechaGastos, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.sol_ReemFechaGastos, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.sol_ReemFechaGastos, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.sol_ReemNoFactura, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.sol_ReemNoFactura, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.sol_ReemNoFactura, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.sol_ReemMontoTotal, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.sol_ReemMontoTotal, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.sol_ReemMontoTotal, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.sol_AprRtn, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.sol_AprRtn, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.sol_AprRtn, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.sol_AprNombreEmpresa, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.sol_AprNombreEmpresa, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.sol_AprNombreEmpresa, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.sol_AprCiudad, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.sol_AprCiudad, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.sol_AprCiudad, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.sol_AprDireccion, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.sol_AprDireccion, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.sol_AprDireccion, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.sol_ApreTelefono, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.sol_ApreTelefono, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.sol_ApreTelefono, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.sol_ApreContactoAdm, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.sol_ApreContactoAdm, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.sol_ApreContactoAdm, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.sol_ApreCorreoAdm, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.sol_ApreCorreoAdm, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.sol_ApreCorreoAdm, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.sol_ApreNombreTecn, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.sol_ApreNombreTecn, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.sol_ApreNombreTecn, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.sol_ApreTelefonoTecn, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.sol_ApreTelefonoTecn, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.sol_ApreTelefonoTecn, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.sol_ApreCorreoTecn, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.sol_ApreCorreoTecn, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.sol_ApreCorreoTecn, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.sol_ApreCargoTecn, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.sol_ApreCargoTecn, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.sol_ApreCargoTecn, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.sol_ApreLink, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.sol_ApreLink, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.sol_ApreLink, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.sol_Acper_Nuevo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.sol_Acper_Nuevo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.sol_Acper_Nuevo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.sol_RequeCantidad, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.sol_RequeCantidad, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.sol_RequeCantidad, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.sol_UsuarioCrea, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.sol_UsuarioCrea, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.sol_UsuarioCrea, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.sol_FechaCrea, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.sol_FechaCrea, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.sol_FechaCrea, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.sol_UsuarioModifica, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.sol_UsuarioModifica, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.sol_UsuarioModifica, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.sol_FechaModifica, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.sol_FechaModifica, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.sol_FechaModifica, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
