@model SIGEM_BIDSS.Models.tbSolicitud
@using SIGEM_BIDSS.Models

@{
    var test = new SIGEM_BIDSS.Models.tbInventarioCompra();
}

@Html.HiddenFor(model => model.tpsal_id, new { Value = GeneralFunctions.tiposalario })

@Html.HiddenFor(model => model.tipsol_Id, new { Value = GeneralFunctions.tiposoli })
@Html.HiddenFor(model => model.sol_PerFechaMedioDia, new { Value = GeneralFunctions.dateDefault })
@Html.HiddenFor(model => model.sol_PerMedioDia, new { Value = GeneralFunctions.boolDefault })

@Html.HiddenFor(model => model.sol_PerCantidadDias, new { Value = GeneralFunctions.intDefault })
@Html.HiddenFor(model => model.sol_GralDescripcion, new { Value = GeneralFunctions.stringDefault })

@Html.HiddenFor(model => model.tperm_Id, new { Value = GeneralFunctions.intDefault })


@Html.HiddenFor(model => model.sol_Anvi_DiasVisita, new { Value = GeneralFunctions.intDefault })


@Html.HiddenFor(model => model.sol_UsuarioCrea, new { Value = GeneralFunctions.intDefault })


@Html.HiddenFor(model => model.sol_Anvi_DiasVisita, new { Value = GeneralFunctions.intDefault })


@Html.HiddenFor(model => model.sol_ReemMonto, new { Value = GeneralFunctions.intDefault })


@Html.HiddenFor(model => model.sol_ReemMontoTotal, new { Value = GeneralFunctions.intDefault })


@Html.HiddenFor(model => model.sol_PerFechaInicio, new { Value = GeneralFunctions.dateDefault })

@Html.HiddenFor(model => model.sol_PerFechaRegreso, new { Value = GeneralFunctions.dateDefault })

@Html.HiddenFor(model => model.tmo_Id, new { Value = GeneralFunctions.intDefault })

@Html.HiddenFor(model => model.tipmo_id, new { Value = GeneralFunctions.intDefault })

@Html.HiddenFor(model => model.sol_AnsolMonto, new { Value = GeneralFunctions.intDefault })

@Html.HiddenFor(model => model.pto_Id, new { Value = GeneralFunctions.intDefault })


@Html.HiddenFor(model => model.tpv_Id, new { Value = GeneralFunctions.intDefault })

@Html.HiddenFor(model => model.sol_AnviHospedaje, new { Value = GeneralFunctions.stringDefault })
@Html.HiddenFor(model => model.sol_AnviTrasladoHacia, new { Value = GeneralFunctions.stringDefault })
@Html.HiddenFor(model => model.sol_Anvi_Cliente, new { Value = GeneralFunctions.stringDefault })
@Html.HiddenFor(model => model.sol_Anvi_LugarDestino, new { Value = GeneralFunctions.stringDefault })
@Html.HiddenFor(model => model.sol_Anvi_PropositoVisita, new { Value = GeneralFunctions.stringDefault })
@Html.HiddenFor(model => model.sol_AprCiudad, new { Value = GeneralFunctions.stringDefault })
@Html.HiddenFor(model => model.sol_AprNombreEmpresa, new { Value = GeneralFunctions.stringDefault })
@Html.HiddenFor(model => model.sol_AprRtn, new { Value = GeneralFunctions.stringDefault })
@Html.HiddenFor(model => model.sol_ApreCargoTecn, new { Value = GeneralFunctions.stringDefault })
@Html.HiddenFor(model => model.sol_ApreLink, new { Value = GeneralFunctions.stringDefault })
@Html.HiddenFor(model => model.sol_ApreCorreoAdm, new { Value = GeneralFunctions.stringDefault })
@Html.HiddenFor(model => model.sol_ApreContactoAdm, new { Value = GeneralFunctions.stringDefault })
@Html.HiddenFor(model => model.sol_ApreCorreoTecn, new { Value = GeneralFunctions.stringDefault })
@Html.HiddenFor(model => model.sol_ApreNombreTecn, new { Value = GeneralFunctions.stringDefault })
@Html.HiddenFor(model => model.sol_ApreTelefono, new { Value = GeneralFunctions.stringDefault })
@Html.HiddenFor(model => model.sol_ApreTelefonoTecn, new { Value = GeneralFunctions.stringDefault })

@Html.HiddenFor(model => model.sol_ReemNoFactura, new { Value = GeneralFunctions.stringDefault })
@Html.HiddenFor(model => model.sol_ReemProveedor, new { Value = GeneralFunctions.stringDefault })
@Html.HiddenFor(model => model.sol_ReemCargoA, new { Value = GeneralFunctions.stringDefault })
@Html.HiddenFor(model => model.sol_AprDireccion, new { Value = GeneralFunctions.stringDefault })
@Html.HiddenFor(model => model.sol_AnviFechaViaje, new { Value = GeneralFunctions.dateDefault })
@Html.HiddenFor(model => model.sol_ReemFechaGastos, new { Value = GeneralFunctions.dateDefault })
@Html.HiddenFor(model => model.sol_ReemFechaMonto, new { Value = GeneralFunctions.dateDefault })
@Html.HiddenFor(model => model.sol_Acper_Anterior, new { Value = GeneralFunctions.stringDefault })
@Html.HiddenFor(model => model.sol_Acper_Nuevo, new { Value = GeneralFunctions.stringDefault })

@Html.HiddenFor(model => model.sol_UsuarioModifica, new { Value = GeneralFunctions.intDefault })


@Html.HiddenFor(model => model.sol_FechaCrea, new { Value = GeneralFunctions.dateDefault })

@Html.HiddenFor(model => model.sol_FechaModifica, new { Value = GeneralFunctions.dateDefault })




<div class="form-horizontal">
    <form>
        <div class="card-body">
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-4">
                        <label class="control-label col-md-6">Descripcion@*<span style="color:red"> *</span>*@</label>
                        @Html.DropDownList("invCom_Id", null, "Seleccione", new { @class = "form-control" })
                        <p id="InventarioCompra">@Html.ValidationMessageFor(muni => test.invCom_Id)</p>
                    </div>

                    <div class="col-md-4">
                        @Html.LabelFor(model => model.sol_RequeCantidad, "Cantidad", htmlAttributes: new { @class = "control-label col-md-6" })

                        @Html.EditorFor(model => model.sol_RequeCantidad, new { htmlAttributes = new { @class = "form-control", @maxlength = "2", @autocomplete = "off", onkeypress = "return soloNumeros(event)" } })
                        @Html.ValidationMessageFor(model => model.sol_RequeCantidad, "", new { @class = "text-danger" })

                    </div>
                    <div class="col-md-2">
                        @Html.LabelFor(model => model.sol_GralJustificacion, "Justifique", htmlAttributes: new { @class = "control-label col-md-8" })

                        @Html.EditorFor(model => model.sol_GralJustificacion, new { htmlAttributes = new { @class = "form-control", @maxlength = "150", @autocomplete = "off", @style = "text-transform:uppercase;", onkeypress = "return soloLetras(event)" } })
                        @Html.ValidationMessageFor(model => model.sol_GralJustificacion, "", new { @class = "text-danger" })

                    </div>
                </div>
                </div>

            </div>
    </form>

</div>
<script>
    $("#sol_PerFechaInicio,#sol_PerFechaRegreso,#sol_GralFechaSolicitud").datepicker({
        dateFormat: 'mm/dd/yy',
        monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
        dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
        minDate: '-100Y',
        maxDate: '-18Y',
        prevText: 'Ant',
        nextText: 'Sig',
        changeMonth: true,
        changeYear: true,
        monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic']
    }).datepicker('setDate', new Date());
</script>