@model SIGEM_BIDSS.Models.tbSolicitud

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tbSolicitud</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.sol_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sol_Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sol_JefeInmediato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sol_JefeInmediato)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sol_CorreoJefeInmediato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sol_CorreoJefeInmediato)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sol_PropositoVisita)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sol_PropositoVisita)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sol_LugarDestino)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sol_LugarDestino)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sol_TrasladoHacia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sol_TrasladoHacia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sol_Hospedaje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sol_Hospedaje)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sol_MontoSolicitud)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sol_MontoSolicitud)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.are_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.are_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sol_Justificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sol_Justificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sol_Cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sol_Cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sol_FechaSolicitud)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sol_FechaSolicitud)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sol_FechaRegreso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sol_FechaRegreso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sol_FechaMonto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sol_FechaMonto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sol_CargoA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sol_CargoA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sol_NoFactura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sol_NoFactura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sol_CantidadDias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sol_CantidadDias)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sol_UsuarioCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sol_UsuarioCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sol_FechaCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sol_FechaCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sol_UsuarioModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sol_UsuarioModifica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sol_FechaModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sol_FechaModifica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbEmpleado.emp_Nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbEmpleado.emp_Nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbPuesto.pto_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbPuesto.pto_Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbTipoMovimiento.tipmo_Movimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbTipoMovimiento.tipmo_Movimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbTipoSolicitud.tipsol_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbTipoSolicitud.tipsol_Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbTipoMoneda.tmo_Abreviatura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbTipoMoneda.tmo_Abreviatura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbTipoSalario.tpsal_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbTipoSalario.tpsal_Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbTipoViatico.tpv_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbTipoViatico.tpv_Descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.sol_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
