@model IEnumerable<SIGEM_BIDSS.Models.tbSolicitud>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.sol_Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sol_JefeInmediato)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sol_CorreoJefeInmediato)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sol_PropositoVisita)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sol_LugarDestino)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sol_TrasladoHacia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sol_Hospedaje)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sol_MontoSolicitud)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.are_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sol_Justificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sol_Cliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sol_FechaSolicitud)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sol_FechaRegreso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sol_FechaMonto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sol_CargoA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sol_NoFactura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sol_CantidadDias)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sol_UsuarioCrea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sol_FechaCrea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sol_UsuarioModifica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sol_FechaModifica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbEmpleado.emp_Nombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbPuesto.pto_Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbTipoMovimiento.tipmo_Movimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbTipoSolicitud.tipsol_Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbTipoMoneda.tmo_Abreviatura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbTipoSalario.tpsal_Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbTipoViatico.tpv_Descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.sol_Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sol_JefeInmediato)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sol_CorreoJefeInmediato)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sol_PropositoVisita)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sol_LugarDestino)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sol_TrasladoHacia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sol_Hospedaje)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sol_MontoSolicitud)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.are_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sol_Justificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sol_Cliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sol_FechaSolicitud)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sol_FechaRegreso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sol_FechaMonto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sol_CargoA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sol_NoFactura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sol_CantidadDias)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sol_UsuarioCrea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sol_FechaCrea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sol_UsuarioModifica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sol_FechaModifica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbEmpleado.emp_Nombres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbPuesto.pto_Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbTipoMovimiento.tipmo_Movimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbTipoSolicitud.tipsol_Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbTipoMoneda.tmo_Abreviatura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbTipoSalario.tpsal_Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbTipoViatico.tpv_Descripcion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.sol_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.sol_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.sol_Id })
        </td>
    </tr>
}

</table>
