@model SIGEM_BIDSS.Models.tbTipoViatico

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tbTipoViatico</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tpv_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tpv_Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tpv_UsuarioCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tpv_UsuarioCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tpv_FechaCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tpv_FechaCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tpv_UsuarioModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tpv_UsuarioModifica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tpv_FechaModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tpv_FechaModifica)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.tpv_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
