@model SIGEM_BIDSS.Models.tbTipoViatico

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .validation-error {
        color: red;
        font-size: small;
    }

    .validation-summary-errors {
        color: red;
        font-size: small;
    }

    .required:after {
        content: "*";
        font-weight: bold;
        color: red;
    }

    #tpv_Descripcion {
        text-transform: uppercase;
    }
</style>

<div class="card card-primary card-outline">
    <div class="card-header d-flex p-0 ui-sortable-handle">
        <h3 class="card-title p-3">
            <i class="fa fa-refresh  mr-1"></i>
            Editar Tipo Viático
        </h3>
        <ul class="nav nav-pills ml-auto p-2">
            <li class="nav-item">
                @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-primary" })
            </li>
        </ul>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <div class="card-body">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.tpv_Id)


                <div class="form-group">
                    @Html.LabelFor(model => model.tpv_Descripcion, "Descripción", htmlAttributes: new { @class = "control-label col-sm-4" })
                    <div class="col-sm-4">
                        @Html.EditorFor(model => model.tpv_Descripcion, new { htmlAttributes = new { @class = "form-control", @maxlength = "100", @autocomplete = "off", @onkeypress = "return soloLetras(event)", @onkeyup = "this.value=this.value.toUpperCase(),noespaciosincio(this)" } })
                        <p style="color:red">@Html.ValidationMessageFor(model => model.tpv_Descripcion, "", new { @class = "text-danger" })</p>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-4 col-md-10">
                        <input type="submit" value="Guardar" class="btn btn-primary" id="Save" />
                        @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-default" })
                    </div>
                </div>
            </div>


        </div>
    }

</div>

<script src="~/Scripts/app/ValidacionesGenerales.js"></script>
<script src="~/Scripts/app/General_PCAE.js"></script>

<script>
    ///validar solo letras
    function soloLetras(e) {
        key = e.keyCode || e.which;
        tecla = String.fromCharCode(key).toLowerCase();
        letras = "$# '/áéíóúabcdefghijklmnñopqrstuvwxyz";
        especiales = "8-37-39-46";

        tecla_especial = false
        for (var i in especiales) {
            if (key == especiales[i]) {
                tecla_especial = true;
                break;
            }
        }

        if (letras.indexOf(tecla) == -1 && !tecla_especial) {
            return false;
        }
    }
    function noespaciosincio(e) {
        var valor = e.value.replace(/^ */, '');
        e.value = valor;
    }



    document.getElementById("Save").onclick = function () {
        var txtObj = document.getElementById("");
        txtObj.value = txtObj.value.replace(/^\s+/, ""); //Left trim
        txtObj.value = txtObj.value.replace(/\s+$/, ""); //Right trim
    };

</script>
