@model IEnumerable<SIGEM_BIDSS.Models.tbTipoViatico>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tpv_Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tpv_UsuarioCrea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tpv_FechaCrea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tpv_UsuarioModifica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tpv_FechaModifica)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tpv_Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tpv_UsuarioCrea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tpv_FechaCrea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tpv_UsuarioModifica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tpv_FechaModifica)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.tpv_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.tpv_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.tpv_Id })
        </td>
    </tr>
}

</table>
