@model SIGEM_BIDSS.Models.TbArea

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TbArea</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AreDescripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AreDescripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AreUsuarioCrea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AreUsuarioCrea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AreFechaCrea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AreFechaCrea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AreUsuarioModifica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AreUsuarioModifica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AreFechaModifica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AreFechaModifica)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="AreId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
