@model IEnumerable<SIGEM_BIDSS.Models.TbArea>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="container-fluid">
        <h1>Index</h1>

        <p>
            <a asp-action="Create">Create New</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.AreDescripcion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AreUsuarioCrea)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AreFechaCrea)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AreUsuarioModifica)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AreFechaModifica)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.AreDescripcion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AreUsuarioCrea)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AreFechaCrea)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AreUsuarioModifica)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AreFechaModifica)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.AreId">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.AreId">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.AreId">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>