@model SIGEM_BIDSS.Models.TbPuesto

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TbPuesto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PtoDescripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PtoDescripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PtoUsuarioCrea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PtoUsuarioCrea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PtoFechaCrea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PtoFechaCrea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PtoUsuarioModifica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PtoUsuarioModifica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PtoFechaModifica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PtoFechaModifica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Are)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Are.AreDescripcion)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PtoId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
