@model SIGEM_BIDSS.Models.TbPuesto

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalle Puesto</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PtoId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PtoId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PtoDescripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PtoDescripcion)
        </dd>

    </dl>
</div>

<div>
    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model.PtoId">Editar</a>
    <a asp-action="Index" class="btn btn-danger">Regresar al Listado</a>
</div>

