@model SIGEM_BIDSS.Models.tbSolicitudReembolsoGastosDetalle
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<link href="~/Content/template/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/template/plugins/datatables/dataTables.bootstrap4.css" rel="stylesheet" />


<link href="~/Content/template/plugins/datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" />
<div class="card card-primary card-outline">
    <div class="card-header d-flex p-0 ui-sortable-handle">
        <h3 class="card-title p-3">
            <i class="fa fa-upload mr-1"></i>
            Insertar Liquidación Anticipo Viáticos Detalle
        </h3>
        <ul class="nav nav-pills ml-auto p-2">
            <li class="nav-item">
                @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-primary" })
            </li>
        </ul>
    </div>

    @using (Html.BeginForm(null, null, FormMethod.Post, FormMethod.Post, new { id = "frmAnticipoViatico" }))
    {
        @Html.AntiForgeryToken()

        <input type="hidden" id="custId" name="custId" value="3487">
        <div class="form-horizontal">
            <div class="card-body">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                @Html.HiddenFor(model => model.Reemga_Id)

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <div class="col-md-6 card-body box-profile">
                            <img src="~/Content/img/descarga.jpg" class="product-image" id="imgpreview" width="280" height="230" style="border-width: 0px;" />
                        </div>
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.ReemgaDet_Archivo,"Archivo", htmlAttributes: new { @class = "control-label col-md-6" })
                            <div class="custom-file col-md-11">
                                <input id="CargarFoto" value="Cargar Fotografía" max-size=32154 name="FotoPath" type="file" class="custom-file-input col-md-6" accept="image/png, image/jpeg">
                                <label id="lblCargarFoto" style="width:400px" class="custom-file-label" for="CargarFoto"></label>

                            </div>
                            @Html.ValidationMessageFor(model => model.ReemgaDet_Archivo, null, new { @class = "text-danger", @id = "errorlogo" })
                            <div class="input-group-append">
                            </div>
                        </div>
                        <p id="ImageLength" style="color:red"></p>
                    </div>
                </div>


          
                <div class="form-row">

                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.ReemgaDet_FechaGasto, "Fecha Gasto", htmlAttributes: new { @class = "control-label col-md-8" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ReemgaDet_FechaGasto, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ReemgaDet_FechaGasto, "", new { @class = "text-danger" })
                        </div>
                    </div>



                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.tpv_Id, "Gasto", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.tpv_Id, (SelectList)ViewBag.tpv_Id, "Seleccione Tipo Gasto", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.tpv_Id, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>
                <div class="form-row">

                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.ReemgaDet_MontoGasto, "Monto Gasto", htmlAttributes: new { @class = "control-label col-md-8" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ReemgaDet_MontoGasto, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ReemgaDet_MontoGasto, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.ReemgaDet_Concepto, "Concepto", htmlAttributes: new { @class = "control-label col-md-8" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ReemgaDet_Concepto, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ReemgaDet_Concepto, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <br />
                <div class="form-group">
                    <div class="col-md-offset-4">
                        <input type="button" value="Agregar" id="AgregarDetalle" class="btn btn-primary btn-sm" />
                    </div>
                </div>

            </div>



            <table class="table table-bordered table-hover" id="dataTable">
                <thead>
                    <tr>
                        <th>
                            Fecha Gasto
                        </th>
                        <th>
                            Gasto
                        </th>
                        <th>
                            Monto Gasto
                        </th>
                        <th>
                            Concepto
                        </th>

                        <th>
                            Archivo
                        </th>
                        <th>
                            Acciones
                        </th>
                    </tr>
                </thead>
                <tbody></tbody>

                @*<tfoot>
                        <tr>
                            <th>

                            </th>
                            <th>

                            </th>
                            <th>

                            </th>
                            <th>

                            </th>


                            <th>
                                Total Gastos
                            </th>
                            <th>

                            </th>

                        </tr>
                    </tfoot>*@

            </table>





        </div>
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>

    }

</div>

@section Scripts {


    <script src="~/Content/template/plugins/datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/template/plugins/datepicker/locales/bootstrap-datepicker.es.min.js"></script>
    <script src="~/Content/template/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
    <script src="~/Content/template/plugins/datatables/jquery.dataTables.js"></script>
    <script src="~/Content/template/plugins/datatables/dataTables.bootstrap4.js"></script>
    <script src="~/Scripts/app/DataTables.js"></script>
    <script src="~/Scripts/app/Solicitud/SolicitudReembolsoGastosDetalle.js"></script>

}


