@model SIGEM_BIDSS.Models.tbTipoSangre

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tbTipoSangre</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tps_nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tps_nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tps_UsuarioCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tps_UsuarioCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tps_FechaCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tps_FechaCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tps_UsuarioModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tps_UsuarioModifica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tps_FechaModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tps_FechaModifica)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.tps_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
