@model IEnumerable<SIGEM_BIDSS.Models.tbTipoSangre>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="card card-primary card-outline">
    <div class="card-header d-flex p-0 ui-sortable-handle">
        <h3 class="card-title p-3">
            <i class="fa fa-list mr-1"></i>
            Listado Tipo Sangre
        </h3>
        <ul class="nav nav-pills ml-auto p-2">
            <li class="nav-item">
                @Html.ActionLink(" Nuevo", "Create", null, new { @class = "btn btn-primary" })
            </li>
        </ul>
    </div>
    <div class="card-body">
        <table class="table table-bordered table-hover" id="dataTable">
            <thead>
                <tr>
                    <th>
                       ID
                    </th>
                    <th>
                  Nombre
                    </th>

                    <th>ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.tps_Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tps_nombre)
                    </td>

                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.tps_Id }, new { @class = "btn btn-primary btn-sm" })
                        @Html.ActionLink("Detalles", "Details", new { id = item.tps_Id }, new { @class = "btn btn-default btn-sm" })
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
