@model SIGEM_BIDSS.Models.tbTipoSalario

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tbTipoSalario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tpsal_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tpsal_Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tpsal_UsuarioCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tpsal_UsuarioCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tpsal_FechaCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tpsal_FechaCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tpsal_UsuarioModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tpsal_UsuarioModifica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tpsal_FechaModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tpsal_FechaModifica)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.tpsal_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
