@model SIGEM_BIDSS.Models.tbAccionPersonal

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tbAccionPersonal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Acp_Correlativo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Acp_Correlativo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Acp_JefeInmediato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Acp_JefeInmediato)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Acp_FechaSolicitud)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Acp_FechaSolicitud)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Acp_Comentario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Acp_Comentario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Acp_RazonRechazo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Acp_RazonRechazo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Acp_UsuarioCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Acp_UsuarioCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Acp_FechaCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Acp_FechaCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Acp_UsuarioModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Acp_UsuarioModifica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Acp_FechaModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Acp_FechaModifica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbEstado.est_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbEstado.est_Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbEmpleado.emp_Nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbEmpleado.emp_Nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbTipoMovimiento.tipmo_Movimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbTipoMovimiento.tipmo_Movimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbEmpleado1.emp_Nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbEmpleado1.emp_Nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbEmpleado2.emp_Nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbEmpleado2.emp_Nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbEmpleado3.emp_Nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbEmpleado3.emp_Nombres)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Acp_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
