@model IEnumerable<SIGEM_BIDSS.Models.tbPuesto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
      Area
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pto_Descripcion)
            </th>
      
            <th>ACCIONES</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.tbArea.are_Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.pto_Descripcion)
                </td>
            
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.pto_Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.pto_Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.pto_Id })
                </td>
            </tr>
        }
       
    </tbody>
</table>
