@model SIGEM_BIDSS.Models.tbMunicipio

<div class="form-horizontal">
    <div class="card-body">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.mun_codigo, htmlAttributes: new { @class = "control-label col-sm-2 , required" })
            <div class="col-sm-6">
                <input type="number" id="mun_codigo" name="mun_codigo" placeholder="" class="form-control" min="1" maxlength="4" autocomplete="off" />
                <div id="ValidationMunCodigoCreate">
                    @Html.ValidationMessageFor(model => model.mun_codigo)
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.mun_nombre, htmlAttributes: new { @class = "control-label col-sm-2 , required" })
            <div class="col-sm-6">
                <input type="text" onkeypress="return soloLetras(event)" id="mun_nombre" name="mun_nombre" placeholder="" class="form-control" maxlength="150" autocomplete="off" style="text-transform:uppercase;" />
                <div id="ValidationMunNombreCreate">
                    @Html.ValidationMessageFor(model => model.mun_nombre)
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-6">
                <button class="btn btn-primary" type="button" id="AgregarMunicipio">Añadir</button>
            </div>

        </div>


        <table id="tblMunicipio" class="table" style="width:100%">
            <thead>
                <tr>
                    <th>Código Municipio</th>
                    <th>Municipio</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

    </div>

</div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
