@model SIGEM_BIDSS.Models.tbDepartamento

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tbDepartamento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.dep_Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dep_Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dep_UsuarioCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dep_UsuarioCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dep_FechaCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dep_FechaCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dep_UsuarioModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dep_UsuarioModifica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dep_FechaModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dep_FechaModifica)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.dep_Codigo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
