@model IEnumerable<SIGEM_BIDSS.Models.tbTipoMovimiento>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tipmo_Movimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipmo_UsuarioCrea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipmo_FechaCrea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipmo_UsuarioModifica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipmo_FechaModifica)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tipmo_Movimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipmo_UsuarioCrea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipmo_FechaCrea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipmo_UsuarioModifica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipmo_FechaModifica)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.tipmo_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.tipmo_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.tipmo_id })
        </td>
    </tr>
}

</table>
