<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <title>SIGEM | BI DSS</title>
        @Styles.Render("~/Content/font-awesome")
        @Styles.Render("~/Content/adminlte")
        <link rel="stylesheet" href="~/Content/template/plugins/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="~/Content/template/dist/css/adminlte.min.css">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    </head>
    <body class="hold-transition sidebar-mini sidebar-collapse">
        <div class="wrapper">
            @Html.Partial("_TopNavbar")

            @Html.Partial("_Sidebar")

            <div class="content-wrapper">
                <div class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                          
                      
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                </div>
            </div>
 
            @Html.Partial("_Footer")
        </div>
        @Scripts.Render("~/Scripts/jquery")
        @Scripts.Render("~/Scripts/bootstrap")
        @Scripts.Render("~/Scripts/adminlte")
        @RenderSection("scripts", required: false)
    </body>
    </html>
