@model SIGEM_BIDSS.Models.TbEmpleado

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TbEmpleado</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpNombres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpNombres)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpApellidos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpApellidos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpSexo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpSexo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpFechaNacimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpFechaNacimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpIdentificacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpIdentificacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpTelefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpTelefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpCorreoElectronico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpCorreoElectronico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpFechaIngreso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpFechaIngreso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpDireccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpDireccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpRazonInactivacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpRazonInactivacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpEstado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpEstado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpPathImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpPathImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpUsuarioCrea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpUsuarioCrea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpFechaCrea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpFechaCrea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpUsuarioModifica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpUsuarioModifica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpFechaModifica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpFechaModifica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mun)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mun.MunId)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pto.PtoDescripcion)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tps)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tps.TpsNombre)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="EmpId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
