@model IEnumerable<SIGEM_BIDSS.Models.tbArea>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.are_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.are_Descripcion)
            </th>

            <th>ACCIONES</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.are_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.are_Descripcion)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.are_Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.are_Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.are_Id })
            </td>
        </tr>
        }
        </tbody>
</table>
