
@{
    ViewBag.Title = "Catalogo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<input type="hidden" id="vSwal" value="@TempData["getswalfunction"]" />
<div class="card card-default">
    <div class="card-header" style="color:dodgerblue">
        <h3 class="card-title" style="        font-family:Arial">CATÁLOGOS</h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fa fa-minus"></i></button>

        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body">

        <!-- Small boxes (Stat box) -->
        <div class="row">

            <div class="col-lg-3 ">
                <!-- small box -->
                <div class="small-box bg-primary">
                    <div class="inner">

                        <h2>Tipo Sangre</h2>
                    </div>

                    <div class="icon">
                        <i class="ion ion-android-bookmark"></i>
                    </div>
                    <a href="@Url.Action("Index","TipoSangre")" class="small-box-footer">Más Información <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>

            <div class="col-lg-3 ">
                <!-- small box -->
                <div class="small-box bg-primary">
                    <div class="inner">

                        <h2>Código QR</h2>
                    </div>

                    <div class="icon">
                        <i class="ion ion-android-bookmark"></i>
                    </div>
                    <a href="@Url.Action("Index","CodeQR")" class="small-box-footer">Más Información <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>

            <div class="col-lg-3 ">
                <!-- small box -->
                <div class="small-box bg-primary">
                    <div class="inner">

                        <h2>Inventario Compra</h2>
                    </div>

                    <div class="icon">
                        <i class="ion ion-android-bookmark"></i>
                    </div>
                    <a href="@Url.Action("Index","InventarioCompras")" class="small-box-footer">Más Información <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>


            <div class="col-lg-3 ">
                <!-- small box -->
                <div class="small-box bg-primary">
                    <div class="inner">

                        <h2>Sueldos</h2>
                    </div>

                    <div class="icon">
                        <i class="ion ion-android-bookmark"></i>
                    </div>
                    <a href="@Url.Action("Index","Sueldos")" class="small-box-footer">Más Información <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>

            <div class="col-lg-3  ">
                <!-- small box -->
                <div class="small-box bg-primary">
                    <div class="inner">
                        <h2>Área</h2>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                    <a href="@Url.Action("Index","Area")" class="small-box-footer">Más Información <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>





            <div class="col-lg-3">
                <!-- small box -->
                <div class="small-box bg-primary">
                    <div class="inner">
                        <h2>Tipo Solicitud</h2>
                    </div>
                    <div class="icon">
                        <i class="ion ion-android-calendar"></i>
                    </div>
                    <a href="@Url.Action("Index","TipoSolicitud")" class="small-box-footer">Más Información <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>


            <div class="col-lg-3">
                <div class="color">
                    <!-- small box -->
                    <div class="small-box bg-primary">
                        <div class="inner">

                            <h2>Estado</h2>
                        </div>
                        <div class="icon">
                            <i class="ion ion-android-bulb"></i>
                        </div>
                        <a href="@Url.Action("Index","Estado")" class="small-box-footer">Más Información <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>

            </div>
        </div>

        <!-- /.row -->
    </div>


    <div class="card-body">

        <!-- Small boxes (Stat box) -->
        <div class="row">

            <div class="col-lg-3 ">
                <!-- small box -->
                <div class="small-box bg-primary">
                    <div class="inner">

                        <h2>Cargos</h2>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                    <a href="@Url.Action("Index","Cargos")" class="small-box-footer">Más Información <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>

            <div class="col-lg-3  ">
                <!-- small box -->
                <div class="small-box bg-primary">
                    <div class="inner">
                        <h2>Moneda</h2>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                    <a href="@Url.Action("Index","Moneda")" class="small-box-footer">Más Información <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>





            <div class="col-lg-3">
                <!-- small box -->
                <div class="small-box bg-primary">
                    <div class="inner">
                        <h2>División Politica</h2>
                    </div>
                    <div class="icon">
                        <i class="ion ion-android-cancel"></i>
                    </div>
                    <a href="@Url.Action("Index","Departamento")" class="small-box-footer">Más Información <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>


            <div class="col-lg-3">
                <div class="color">
                    <!-- small box -->
                    <div class="small-box bg-primary">
                        <div class="inner">

                            <h2>Tipo Movimiento</h2>
                        </div>
                        <div class="icon">
                            <i class="ion ion-android-checkmark-circle"></i>
                        </div>
                        <a href="@Url.Action("Index","TipoMovimiento")" class="small-box-footer">Más Información <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>

            </div>
        </div>

        <!-- /.row -->
    </div>



    <div class="card-body">

        <!-- Small boxes (Stat box) -->
        <div class="row">

            <div class="col-lg-3 ">
                <!-- small box -->
                <div class="small-box bg-primary">
                    <div class="inner">

                        <h2>Tipo Salario</h2>
                    </div>
                    <div class="icon">
                        <i class="ion ion-android-checkmark-circle"></i>
                    </div>
                    <a href="@Url.Action("Index","TipoSalario")" class="small-box-footer">Más Información <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>

            <div class="col-lg-3  ">
                <!-- small box -->
                <div class="small-box bg-primary">
                    <div class="inner">

                        <h2>Tipo Viatico</h2>
                    </div>
                    <div class="icon">
                        <i class="ion ion-android-cart"></i>
                    </div>
                    <a href="@Url.Action("Index","TipoViatico")" class="small-box-footer">Más Información <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>





            <div class="col-lg-3">
                <!-- small box -->
                <div class="small-box bg-primary">
                    <div class="inner">
                        <h2>Tipo Permiso</h2>
                    </div>
                    <div class="icon">
                        <i class="ion ion-pie-graph"></i>
                    </div>
                    <a href="@Url.Action("Index","tbTipoPermiso")" class="small-box-footer">Más Información <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>


            <div class="col-lg-3">
                <div class="color">
                    <!-- small box -->
                    <div class="small-box bg-primary">
                        <div class="inner">

                            <h2>Institución Finaciera</h2>
                        </div>
                        <div class="icon">
                            <i class="info-box-icon"></i>
                        </div>
                        <a href="@Url.Action("Index","InstitucionesFinancieras")" class="small-box-footer">Más Información <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                    <!-- /.row (main row) -->
                </div>
            </div>

        </div>
    </div>

    <!-- /.row -->
</div>
<!-- /.card-body -->
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
























