@model SIGEM_BIDSS.Models.tbAnticipoSalario

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tbAnticipoSalario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ansal_Correlativo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ansal_Correlativo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ansal_GralFechaSolicitud)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ansal_GralFechaSolicitud)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ansal_MontoSolicitado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ansal_MontoSolicitado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ansal_Justificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ansal_Justificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ansal_Comentario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ansal_Comentario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ansal_RazonRechazo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ansal_RazonRechazo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ansal_UsuarioCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ansal_UsuarioCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ansal_FechaCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ansal_FechaCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ansal_UsuarioModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ansal_UsuarioModifica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ansal_FechaModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ansal_FechaModifica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbEmpleado.emp_Nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbEmpleado.emp_Nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbEmpleado1.emp_Nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbEmpleado1.emp_Nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbEstado.est_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbEstado.est_Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbTipoSalario.tpsal_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbTipoSalario.tpsal_Descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Ansal_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
