@model SIGEM_BIDSS.Models.tbVacacionesPermisosEspeciales

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tbVacacionesPermisosEspeciales</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VPE_Correlativo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VPE_Correlativo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VPE_GralFechaSolicitud)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VPE_GralFechaSolicitud)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VPE_FechaInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VPE_FechaInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VPE_FechaFin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VPE_FechaFin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VPE_CantidadDias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VPE_CantidadDias)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VPE_MontoSolicitado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VPE_MontoSolicitado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VPE_Comentario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VPE_Comentario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VPE_RazonRechazo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VPE_RazonRechazo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VPE_UsuarioCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VPE_UsuarioCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VPE_FechaCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VPE_FechaCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VPE_UsuarioModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VPE_UsuarioModifica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VPE_FechaModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VPE_FechaModifica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbEmpleado.emp_Nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbEmpleado.emp_Nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbEmpleado1.emp_Nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbEmpleado1.emp_Nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbEstado.est_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbEstado.est_Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbTipoPermiso.tperm_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbTipoPermiso.tperm_Descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VPE_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
