@model SIGEM_BIDSS.Models.tbSolicitudReembolsoGastosDetalle

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card card-primary card-outline">
    <div class="card-header d-flex p-0 ui-sortable-handle">
        <h3 class="card-title p-3">
            <i class="fa fa-info  mr-1"></i>
            Detalle Solicitud Reembolso Gastos
        </h3>
        <ul class="nav nav-pills ml-auto p-2">
            <li class="nav-item">
                @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-primary" })
            </li>
        </ul>
    </div>
    <div class="form-horizontal">
        <div class="card-body">
            <dl class="dl-horizontal">

                <dt>
                    @Html.DisplayNameFor(model => model.ReemgaDet_FechaGasto)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ReemgaDet_FechaGasto)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ReemgaDet_MontoGasto)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ReemgaDet_MontoGasto)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ReemgaDet_Concepto)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ReemgaDet_Concepto)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ReemgaDet_Archivo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ReemgaDet_Archivo)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.tbSolicitudReembolsoGastos.Reemga_Correlativo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.tbSolicitudReembolsoGastos.Reemga_Correlativo)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.tbTipoViatico.tpv_Descripcion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.tbTipoViatico.tpv_Descripcion)
                </dd>


            </dl>

        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-4 col-md-10">
            @Html.ActionLink("Editar", "Edit", new { id = Model.ReemgaDet_Id }, new { @class = "btn btn-primary btn-sm" })

        </div>
    </div>
</div>


<div class="card card-primary card-outline">
    <div class="card-header d-flex p-0 ui-sortable-handle">

    </div>
    <div class="card-body">
        <div class="form-group">
            @Html.ActionLink("Detalles", "NombreController", new { param = valor })
            @Html.Partial("Detalle", Model.tbSolicitudReembolsoGastos)
        </div>
    </div>

</div>





