@model IEnumerable<SIGEM_BIDSS.Models.tbSolicitudReembolsoGastos>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Reemga_Correlativo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reemga_GralFechaSolicitud)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reemga_FechaViaje)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reemga_Cliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reemga_PropositoVisita)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reemga_DiasVisita)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reemga_Comentario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reemga_RazonRechazo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reemga_UsuarioCrea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reemga_FechaCrea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reemga_UsuarioModifica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reemga_FechaModifica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbEmpleado.emp_Nombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbEstado.est_Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbMunicipio.dep_codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbSolicitudReembolsoGastos1.Reemga_Correlativo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbSolicitudReembolsoGastos2.Reemga_Correlativo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbEmpleado1.emp_Nombres)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Reemga_Correlativo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reemga_GralFechaSolicitud)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reemga_FechaViaje)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reemga_Cliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reemga_PropositoVisita)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reemga_DiasVisita)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reemga_Comentario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reemga_RazonRechazo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reemga_UsuarioCrea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reemga_FechaCrea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reemga_UsuarioModifica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reemga_FechaModifica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbEmpleado.emp_Nombres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbEstado.est_Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbMunicipio.dep_codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbSolicitudReembolsoGastos1.Reemga_Correlativo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbSolicitudReembolsoGastos2.Reemga_Correlativo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbEmpleado1.emp_Nombres)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Reemga_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Reemga_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Reemga_Id })
        </td>
    </tr>
}

</table>
