@model SIGEM_BIDSS.Models.tbSueldo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tbSueldo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.sue_Cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sue_Cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sue_UsuarioCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sue_UsuarioCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sue_FechaCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sue_FechaCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sue_UsuarioModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sue_UsuarioModifica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sue_FechaModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sue_FechaModifica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbMoneda.tmo_Abreviatura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbMoneda.tmo_Abreviatura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbEmpleado.emp_Nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbEmpleado.emp_Nombres)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.sue_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
