@model SIGEM_BIDSS.Models.tbEmpleado

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card card-primary card-outline">
    <div class="card-header d-flex p-0 ui-sortable-handle">
        <h3 class="card-title p-3">
            <i class="fa fa-info  mr-1"></i>
            Detalle Empleado
        </h3>
        <ul class="nav nav-pills ml-auto p-2">
            <li class="nav-item">
                @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-primary" })
            </li>
        </ul>
    </div>
    <div class="form-horizontal">
        <div class="card-body">
            <div class="form-group col-md-5">
                <div class="row">
                    <dt>
                        @Html.DisplayNameFor(model => model.emp_Nombres)
                    </dt>                 
                       <hr />                 
                    <dt>
                        @Html.DisplayNameFor(model => model.emp_Apellidos)
                    </dt>
                </div>
                </div>
            <div class="form-group col-md-5">
                <div class="row">

                    <dd>
                        @Html.DisplayFor(model => model.emp_Nombres)
                    </dd>

                    <hr />
                  
                    <dd>
                        @Html.DisplayFor(model => model.emp_Apellidos)
                    </dd>

                </div>
            </div>






            <div class="form-group col-md-5">
                <div class="row">
                    <dt>
                        @Html.DisplayNameFor(model => model.emp_Sexo)
                    </dt>
                    <hr />
                    <dt>
                        @Html.DisplayNameFor(model => model.emp_FechaNacimiento)
                    </dt>
                </div>
            </div>
            <div class="form-group col-md-5">
                <div class="row">
                    <dd>
                        @Html.DisplayFor(model => model.emp_Sexo)
                    </dd>
                    <hr />
                    <dd>
                        @Html.DisplayFor(model => model.emp_FechaNacimiento)
                    </dd>
                </div>
            </div>



            <div class="form-group col-md-5">
                <div class="row">
                    <dt>
                        @Html.DisplayNameFor(model => model.emp_Identificacion)
                    </dt>
                    <hr />
                    <dt>
                        @Html.DisplayNameFor(model => model.emp_Telefono)
                    </dt>
                </div>
            </div>
            <div class="form-group col-md-5">
                <div class="row">
                    <dd>
                        @Html.DisplayFor(model => model.emp_Identificacion)
                    </dd>
                    <hr />
                    <dd>
                        @Html.DisplayFor(model => model.emp_Telefono)
                    </dd>
                </div>
            </div>





            <div class="form-group col-md-5">
                <div class="row">
                    <dt>
                        @Html.DisplayNameFor(model => model.emp_CorreoElectronico)
                    </dt>
                    <hr />
                    <dt>
                        @Html.DisplayNameFor(model => model.emp_FechaIngreso)
                    </dt>
                </div>
            </div>
            <div class="form-group col-md-5">
                <div class="row">
                    <dd>
                        @Html.DisplayFor(model => model.emp_CorreoElectronico)
                    </dd>
                    <hr />
                    <dd>
                        @Html.DisplayFor(model => model.emp_FechaIngreso)
                    </dd>
                </div>
            </div>






            <div class="form-group col-md-5">
                <div class="row">
                    <dt>
                        @Html.DisplayNameFor(model => model.emp_Direccion)
                    </dt>
                    <hr />
                    <dt>
                        @Html.DisplayNameFor(model => model.emp_RazonInactivacion)
                    </dt>
                </div>
            </div>
            <div class="form-group col-md-5">
                <div class="row">
                    <dd>
                        @Html.DisplayFor(model => model.emp_Direccion)
                    </dd>
                    <hr />

                    <dd>
                        @Html.DisplayFor(model => model.emp_RazonInactivacion)
                    </dd>
                </div>
            </div>



            <div class="form-group col-md-5">
                <div class="row">
                    <dt>
                        @Html.DisplayNameFor(model => model.est_Id)
                    </dt>
                    <hr />
                    <dt>
                        @Html.DisplayNameFor(model => model.emp_PathImage)
                    </dt>
                </div>
            </div>
            <div class="form-group col-md-5">
                <div class="row">
                    <dd>
                        @Html.DisplayFor(model => model.tbEstado.est_Descripcion)
                    </dd>
                    <hr />
                    <dd>
                        @Html.DisplayFor(model => model.emp_PathImage)
                    </dd>
                </div>
            </div>







            <div class="form-group col-md-5">
                <div class="row">
                    <dt>
                        @Html.DisplayNameFor(model => model.emp_UsuarioCrea)
                    </dt>

                    <hr />

                    <dt>
                        @Html.DisplayNameFor(model => model.emp_FechaCrea)
                    </dt>


                </div>
            </div>
            <div class="form-group col-md-5">
                <div class="row">
                    <dd>
                        @Html.DisplayFor(model => model.emp_UsuarioCrea)
                    </dd>
                    <hr />
                    <dd>
                        @Html.DisplayFor(model => model.emp_FechaCrea)
                    </dd>
                </div>
            </div>









            <div class="form-group col-md-5">
                <div class="row">
                    <dt>
                        @Html.DisplayNameFor(model => model.emp_UsuarioModifica)
                    </dt>
                    <hr />
                    <dt>
                        @Html.DisplayNameFor(model => model.emp_FechaModifica)
                    </dt>

                </div>
            </div>
            <div class="form-group col-md-5">
                <div class="row">
                    <dd>
                        @Html.DisplayFor(model => model.emp_UsuarioModifica)
                    </dd>
                    <hr />
                    <dd>
                        @Html.DisplayFor(model => model.emp_FechaModifica)
                    </dd>
                </div>
            </div>



            <div class="form-group col-md-5">
                <div class="row">
                    <dt>
                        @Html.DisplayNameFor(model => model.tbMunicipio.dep_codigo)
                    </dt>
                    <hr />
                    <dt>
                        @Html.DisplayNameFor(model => model.tbMunicipio.mun_codigo)
                    </dt>
                </div>
            </div>
            <div class="form-group col-md-5">
                <div class="row">
                    <dd>
                        @Html.DisplayFor(model => model.tbMunicipio.tbDepartamento.dep_Nombre)
                    </dd>
                    <hr />
                    <dd>
                        @Html.DisplayFor(model => model.tbMunicipio.mun_nombre)
                    </dd>
                </div>
            </div>



            <div class="form-group col-md-5">
                <div class="row">
                    <dt>
                        @Html.DisplayNameFor(model => model.tbPuesto.pto_Descripcion)
                    </dt>
                    <hr />
                    <dt>
                        @Html.DisplayNameFor(model => model.tbTipoSangre.tps_nombre)
                    </dt>
                    
                </div>
            </div>
            <div class="form-group col-md-5">
                <div class="row">
                    <dd>
                        @Html.DisplayFor(model => model.tbPuesto.pto_Descripcion)
                    </dd>
                    <hr />
                    <dd>
                        @Html.DisplayFor(model => model.tbTipoSangre.tps_nombre)
                    </dd>
                </div>
            </div>

        </div>
    </div>
        </div>

