@model SIGEM_BIDSS.Models.TbTipoSangre

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>TbTipoSangre</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TpsNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TpsNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TpsUsuarioCrea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TpsUsuarioCrea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TpsFechaCrea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TpsFechaCrea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TpsUsuarioModifica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TpsUsuarioModifica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TpsFechaModifica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TpsFechaModifica)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TpsId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
