@model SIGEM_BIDSS.Models.TbEstado

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalle Estado</h2>

<div>
 
    <hr />
    <dl class="dl-horizontal">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EstId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EstId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EstDescripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EstDescripcion)
        </dd>

    </dl>
</div>

    <div>
        <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model.EstId">Editar</a>
        <a asp-action="Index" class="btn btn-danger">Regresar al Listado</a>
    </div>

