@model IEnumerable<SIGEM_BIDSS.Models.TbEstado>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Listado De Estados</h1>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Descripción Estado
            </th>
            <th>
                Usuario Crea
            </th>
            <th>
                Fecha Crea
            </th>
            <th>
                Usuario Modifica
            </th>
            <th>
                Fecha Modifica
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EstDescripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstUsuarioCrea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstFechaCrea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstUsuarioModifica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstFechaModifica)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EstId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EstId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EstId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
