@model IEnumerable<SIGEM_BIDSS.Models.tbDeduccionInstitucionFinanciera>
@using SIGEM_BIDSS.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<link href="~/Content/template/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/template/plugins/datatables/dataTables.bootstrap4.css" rel="stylesheet" />
<input type="hidden" id="vSwal" value="@TempData[" swalfunction"]" />

<div class="card card-primary card-outline">
    <div class="card-header d-flex p-0 ui-sortable-handle">
        <h3 class="card-title p-3">
            <i class="fa fa-list mr-1"></i>
            Listado Deducción Institución Financiera
        </h3>
        <ul class="nav nav-pills ml-auto p-2">
            <li class="nav-item">
                @Html.ActionLink(" Nuevo", "Create", null, new { @class = "btn btn-primary" })
            </li>
        </ul>
    </div>
    <div class="card-body">
        <table class="table table-bordered table-hover" id="dataTable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.deif_IdDeduccionInstFinanciera)
                    </th>
                    <th>
                        Institución Financieras
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.deif_Monto)
                    </th>


                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.deif_IdDeduccionInstFinanciera)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.tbInstitucionFinanciera.insf_Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.deif_Monto)
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.deif_IdDeduccionInstFinanciera }, new { @class = "btn btn-primary btn-xs" })
                            @Html.ActionLink("Detalles", "Details", new { id = item.deif_IdDeduccionInstFinanciera }, new { @class = "btn btn-default btn-xs" })


                            @if (item.deif_Activo == GeneralFunctions.instfinAceptar)
                            {
                                <input type="button" id="Desactivar" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#ModalRazonInactivacion" value="Inactivar" />
                                <input type="hidden" id="_Insf_Id" value="@item.deif_IdDeduccionInstFinanciera" />
                            }
                            else if (item.deif_Activo == GeneralFunctions.instfinDenegar)
                            {
                                <input type="button" id="Activar" class="btn btn-success btn-xs" data-toggle="modal" data-target="#ModalRazonActivacion" Style="width:55px" value="Activar" />
                                <input type="hidden" id="_Insf_Id" value="@item.deif_IdDeduccionInstFinanciera" />
                            }
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



@section Scripts {

    <!-- Bootstrap 4 -->
    <script src="~/Content/template/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- DataTables -->
    <script src="~/Content/template/plugins/datatables/jquery.dataTables.js"></script>
    <script src="~/Content/template/plugins/datatables/dataTables.bootstrap4.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/template/dist/js/adminlte.min.js"></script>
    <script src="~/Scripts/app/General.js"></script>
    <script src="~/Scripts/app/DataTables.js"></script>
    <div class="modal fade" id="ModalRazonInactivacion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <input id="Deduccioninstfinanciera" type="hidden" />
                    <h4 class="modal-title" id="myModalLabel">¿Está seguro que desea inactivar el registro seleccionado?</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-footer">

                    <button class="btn btn-primary" type="submit" id="btnRaInac">Inactivar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="ModalRazonActivacion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <input id="Deduccioninstfinanciera" type="hidden" />
                    <h4 class="modal-title" id="myModalLabel">¿Está seguro que desea activar el registro seleccionado?</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-footer">

                    <button class="btn btn-primary" type="submit" id="btnAc">Activar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>


        <!-- DataTables -->
        <script src="~/Content/template/plugins/datatables/jquery.dataTables.js"></script>
        <script src="~/Content/template/plugins/datatables/dataTables.bootstrap4.js"></script>


        <script>


            $(document).on("click", "#dataTable tbody tr td input#Activar", function () {
                _deif_IdDeduccionInstFinanciera = $(this).closest('tr').data('id');
                $("#Deduccioninstfinanciera").val(_deif_IdDeduccionInstFinanciera);
            })


            $('#btnAc').click(function () {
                console.log("Hola");
                deif_IdDeduccionInstFinanciera = $("#Deduccioninstfinanciera").val()
                $.ajax({
                    url: "/DeduccionInstitucionFinanciera/ActivarInstitucionFinanciera",
                    method: "POST",
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({ deif_IdDeduccionInstFinanciera: deif_IdDeduccionInstFinanciera }),
                    success: function () {

                        location.reload();
                    }
                })
                    .done(function (data) {

                        window.location.href = "/DeduccioninstitucionFinanciera/Index"
                    });
            });



            $(document).on("click", "#dataTable tbody tr td input#Desactivar", function () {
                _deif_IdDeduccionInstFinanciera = $(this).closest('tr').data('id');
                $("#Deduccioninstfinanciera").val(_deif_IdDeduccionInstFinanciera);
                console.log(_Insf_Id)
            })


            $('#btnRaInac').click(function () {
                deif_IdDeduccionInstFinanciera = $("#Deduccioninstfinanciera").val()
                $.ajax({
                    url: "/DeduccionInstitucionFinanciera/InactivarInstitucionFinanciera",
                    method: "POST",
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({ deif_IdDeduccionInstFinanciera: deif_IdDeduccionInstFinanciera }),
                })
                    .done(function (data) {
                        $("_tbInac_Id").val("");
                        window.location.href = "/DeduccioninstitucionFinanciera/Index"
                    });
            });


        </script>




    }
