@model SIGEM_BIDSS.Models.tbTipoSolicitud

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tbTipoSolicitud</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tipsol_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipsol_Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipsol_UsuarioCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipsol_UsuarioCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipsol_FechaCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipsol_FechaCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipsol_UsuarioModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipsol_UsuarioModifica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipsol_FechaModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipsol_FechaModifica)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.tipsol_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
