@model SIGEM_BIDSS.Models.tbLiquidacionAnticipoViatico

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card card-primary card-outline">
    <div class="card-header d-flex p-0 ui-sortable-handle">
        <h3 class="card-title p-3">
            <i class="fa fa-info  mr-1"></i>
            Detalle Estado
        </h3>
        <ul class="nav nav-pills ml-auto p-2">
            <li class="nav-item">
                @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-primary" })
            </li>
        </ul>
    </div>
    <div class="form-horizontal">
        <div class="card-body">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Lianvi_Id)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Lianvi_Id)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Lianvi_Correlativo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Lianvi_Correlativo)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Lianvi_Comentario)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Lianvi_Comentario)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Lianvi_FechaInicioViaje)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Lianvi_FechaInicioViaje)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Lianvi_FechaFinViaje)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Lianvi_FechaFinViaje)
                </dd>
            </dl>


            <div class="form-group">
                @Html.Partial("_Details", (List<SIGEM_BIDSS.Models.tbLiquidacionAnticipoViaticoDetalle>)ViewBag.IdFull)


            </div>
        </div>
    </div>
  



</div>


