@model SIGEM_BIDSS.Models.tbRequisionCompraDetalle

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tbRequisionCompraDetalle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Reqde_Cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reqde_Cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reqde_Justificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reqde_Justificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reqde_UsuarioCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reqde_UsuarioCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reqde_FechaCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reqde_FechaCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reqde_UsuarioModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reqde_UsuarioModifica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reqde_FechaModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reqde_FechaModifica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbRequisionCompra.Reqco_Correlativo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbRequisionCompra.Reqco_Correlativo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbProducto.prod_Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbProducto.prod_Codigo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Reqde_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
