@model IEnumerable<SIGEM_BIDSS.Models.tbRequisionCompraDetalle>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Reqde_Cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reqde_Justificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reqde_UsuarioCrea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reqde_FechaCrea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reqde_UsuarioModifica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reqde_FechaModifica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbRequisionCompra.Reqco_Correlativo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbProducto.prod_Codigo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Reqde_Cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reqde_Justificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reqde_UsuarioCrea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reqde_FechaCrea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reqde_UsuarioModifica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reqde_FechaModifica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbRequisionCompra.Reqco_Correlativo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbProducto.prod_Codigo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Reqde_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Reqde_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Reqde_Id })
        </td>
    </tr>
}

</table>
